html {
  font-family: 'Comic Neue', cursive;
  background-color: #FEF9EF;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header, footer {
  background-color: #FE6D73;
}

.header-logo {
  padding: 10px;
  width: 100px;
}

.main-block {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FFCB77;
  border-radius: 8px;
  padding: 100px;
}

.input-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: #227C9D;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

input {
  margin: 20px;
}

.calendar {
  width: 600px;
  height: 800px;
}